
    <h2>CADASTRO</h2>
    <hr>
     <form action="/pessoas" method="post">
        <input type="text" name="nome" id="nome" placeholder="Digite o Nome">
        <br>
        <br>
        <input type="text" name="ano" id="ano" placeholder="Digite o Ano Do Seu Nascimento">
        <br>
        <br>
        <button class="btn btn-success"type="submit">Salvar</button>
    </form>

